# Filter Siamese model candidates

In [22]:
# Choose file to load
DATA_PATH = 'data'

# Rendered datasets from train/val/test splits
# file_path = 'tables_OZ_geo_5500/processed/pairwise-rendered/test/num-rows=4476_limit-pos=None_pos-neg=1.0_hard-soft=0.5_seed=42/preds_fpr=0.05.parquet'
# file_path = 'tables_OZ_geo_5500/processed/pairwise-rendered/test/num-rows=4476_limit-pos=None_pos-neg=1.0_hard-soft=0.5_seed=42/preds_fpr=1.0.parquet'

# Custom pairwise query datasets
file_path = 'tables_OZ_geo_5500/processed/regex-pairwise-groups/regex-pairwise-groups_num-queries=20_patterns-dict-hash=a6223255f273e52a893ba7235e3c19b3/preds_fpr=0.052.parquet'

In [23]:
import pandas as pd
from pathlib import Path

if file_path.endswith('parquet'):
    pairwise_df = pd.read_parquet(Path(DATA_PATH) / file_path)
elif file_path.endswith('csv'):
    pairwise_df = pd.read_csv(Path(DATA_PATH) / file_path)

print(pairwise_df.shape)
pairwise_df.columns.tolist()

(110780, 96)

['sku_first',
 'description_first',
 'image_url_first',
 'name_first',
 'category_first',
 'схема_first',
 'brand_first',
 'niche_first',
 'seller_first',
 'balance_fbo_first',
 'balance_fbs_first',
 'warehouses_count_first',
 'comments_first',
 'final_price_first',
 'max_price_first',
 'min_price_first',
 'average_price_first',
 'median_price_first',
 'membership_card_price_first',
 'sales_first',
 'revenue_first',
 'revenue_potential_first',
 'revenue_average_first',
 'lost_profit_first',
 'lost_profit_percent_first',
 'url_first',
 'thumb_first',
 'pics_count_first',
 'has_video_first',
 'first_date_first',
 'days_in_website_first',
 'days_in_stock_first',
 'days_with_sales_first',
 'average_if_in_stock_first',
 'rating_first',
 'fbs_first',
 'base_price_first',
 'category_position_first',
 'categories_last_count_first',
 'sales_per_day_average_first',
 'sales.1_first',
 'frozen_stocks_first',
 'frozen_stocks_cost_first',
 'frozen_stocks_percent_first',
 'balance_first',
 'image_name_first',
 'sku_second',
 'description_second',
 'image_url_second',
 'name_second',
 'category_second',
 'схема_second',
 'brand_second',
 'niche_second',
 'seller_second',
 'balance_fbo_second',
 'balance_fbs_second',
 'warehouses_count_second',
 'comments_second',
 'final_price_second',
 'max_price_second',
 'min_price_second',
 'average_price_second',
 'median_price_second',
 'membership_card_price_second',
 'sales_second',
 'revenue_second',
 'revenue_potential_second',
 'revenue_average_second',
 'lost_profit_second',
 'lost_profit_percent_second',
 'url_second',
 'thumb_second',
 'pics_count_second',
 'has_video_second',
 'first_date_second',
 'days_in_website_second',
 'days_in_stock_second',
 'days_with_sales_second',
 'average_if_in_stock_second',
 'rating_second',
 'fbs_second',
 'base_price_second',
 'category_position_second',
 'categories_last_count_second',
 'sales_per_day_average_second',
 'sales.1_second',
 'frozen_stocks_second',
 'frozen_stocks_cost_second',
 'frozen_stocks_percent_second',
 'balance_second',
 'image_name_second',
 'label',
 'pair_type',
 'siam_l2_dist',
 'prediction']

# Filter by economic features

In [24]:
PRICE_MARGIN = 0.3 # +-30%
MIN_SALES = 0
MIN_FBO = 0
MIN_FBS = 0
MIN_RATING = 4.3

# --- original filtering mask ---
orig_mask = (
    (pairwise_df['sales_second'] > MIN_SALES)
    & ((pairwise_df['balance_fbo_second'] > MIN_FBO) | (pairwise_df['balance_fbs_second'] > MIN_FBS))
    & (pairwise_df['rating_second'] > MIN_RATING)
)
filtered = pairwise_df[orig_mask]

# --- now per‐sku_first price‐ratio filtering ---
def within_margin(group):
    ratio = group['final_price_second'] / group['final_price_first']
    return group[ratio.between(1 - PRICE_MARGIN, 1 + PRICE_MARGIN)]

filtered_pairwise_df = (
    filtered
    .groupby('sku_first', group_keys=False)
    .apply(within_margin)
    .reset_index(drop=True)
)

print('Original size:', len(pairwise_df))
print('Filtered size:', len(filtered_pairwise_df))

Original size: 110780
Filtered size: 1149

/tmp/ipykernel_17977/1941368628.py:23: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(within_margin)

In [25]:
def construct_wide_table(
    df,
    label_col: str,
    top_k: int = None,
    positive_only: bool = True,
    include_urls: bool = False,
    layout: str = 'blocked',
    drop_na: bool = True,
):
    """
    Builds a wide-format table of top‐k matches per Query_SKU.
    """
    rows = []
    # Determine how many slots: either fixed top_k or max found per group
    if top_k is None:
        max_counts = (
            df[df[label_col] == 1]
            .groupby('sku_first')
            .size()
            .max()
        )
        n_slots = int(max_counts) if max_counts is not None and not pd.isna(max_counts) else 0
    else:
        n_slots = int(top_k)

    for query_sku, group in df.groupby('sku_first'):
        candidates = group[group[label_col] == 1] if positive_only else group

        # always reset index so positional iloc works
        candidates = candidates.reset_index(drop=True)

        # then sort by probability if available
        if 'proba' in candidates.columns:
            candidates = (
                candidates.sort_values('proba', ascending=False)
                          .reset_index(drop=True)
            )

        # If drop_na is True and there are no candidates, skip this row
        if drop_na and len(candidates) == 0:
            continue

        row = {'Query_SKU': int(query_sku)}

        for i in range(n_slots):
            if i < len(candidates):
                row[f'Top-{i+1}_SKU'] = int(candidates.iloc[i]['sku_second'])
                if include_urls and 'url_second' in candidates.columns:
                    row[f'Top-{i+1}_URL'] = candidates.iloc[i]['url_second']
                if 'proba' in candidates.columns:
                    row[f'Top-{i+1}_Proba'] = float(candidates.iloc[i]['proba'])
            else:
                row[f'Top-{i+1}_SKU'] = -1
                if include_urls:
                    row[f'Top-{i+1}_URL'] = ''
                if 'proba' in candidates.columns:
                    row[f'Top-{i+1}_Proba'] = 0.0

        rows.append(row)

    matches_wide_df = pd.DataFrame(rows)

    if layout == 'blocked':
        sku_cols   = [c for c in matches_wide_df if c.startswith('Top-') and c.endswith('_SKU')]
        url_cols   = [c for c in matches_wide_df if c.startswith('Top-') and c.endswith('_URL')]
        proba_cols = [c for c in matches_wide_df if c.startswith('Top-') and c.endswith('_Proba')]
        matches_wide_df = matches_wide_df[['Query_SKU'] + sku_cols + url_cols + proba_cols]

    return matches_wide_df

In [29]:
# --- Set your desired top_k (e.g. 5) and construct the wide table.

filtered_matches_wide_df = construct_wide_table(
    df=filtered_pairwise_df,

    # label_col = 'label',
    label_col = 'prediction',

    top_k = None,
    positive_only=True,

    include_urls=False,
    layout='blocked',
)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
filtered_matches_wide_df

,Query_SKU,Top-1_SKU,Top-2_SKU,Top-3_SKU,Top-4_SKU,Top-5_SKU,Top-6_SKU,Top-7_SKU,Top-8_SKU,Top-9_SKU,Top-10_SKU,Top-11_SKU,Top-12_SKU,Top-13_SKU,Top-14_SKU,Top-15_SKU,Top-16_SKU,Top-17_SKU
0,491268805,1743558896,1663086943,1649961933,1600969688,1500421705,1345355836,1079913513,1079902314,861606446,857108036,854685999,853804528,219077206,217513834,217489097,180358421,166584090
1,491270272,1581328190,1414696452,1345370830,1345349994,1155694731,847647035,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,491270369,1621519668,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,491271284,1345370830,1345349994,857968654,856985388,854395161,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,491271320,1666035693,861593242,268682160,1713036930,1640637003,1438527246,1438364142,861605997,856647774,851295373,844750071,671211264,490461399,268682152,178711585,-1,-1
5,491271768,1934870477,1912007512,1887527156,1840978191,1743520965,1716671407,1469038854,864566278,857515421,853830521,853784415,219077425,-1,-1,-1,-1,-1
6,491273438,1887527156,1840978191,1743520965,1716671407,1469038854,864566278,853784415,219077425,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,491279127,1613663117,1729352595,1703583975,1567001565,1414696452,1345370830,1345349994,854395161,590294661,-1,-1,-1,-1,-1,-1,-1,-1
8,507113963,1857130100,1737112217,1713026634,1421500089,1125087194,985994761,926003864,847684763,805731216,-1,-1,-1,-1,-1,-1,-1,-1
9,508611672,1155694731,1581328190,1567001565,1414696452,847647035,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,508612558,1581328190,1345370830,1345349994,166584096,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,824158517,1613663117,166584090,1600969688,854395161,590294661,217489097,217473297,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
12,922229770,1666035693,861593242,805285669,1713036930,974244048,861605997,844750071,601320601,564435026,-1,-1,-1,-1,-1,-1,-1,-1
13,922230183,1737112880,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
14,922230517,1729352595,1703583975,1567001565,590294661,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
15,922231521,1713036930,1438527246,1438364142,861605997,856647774,851295373,601320601,490461399,178711585,1666035693,1640637003,844750071,671211264,861593242,-1,-1,-1
16,1200553001,936454663,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [35]:
# Filter matches by query seller

QUERY_SELLER = 'ИНТЕРТРЕЙД'

# Get all query SKUs from filtered_pairwise_df
query_pairwise_df = filtered_pairwise_df[filtered_pairwise_df.seller_first == QUERY_SELLER]
query_skus = query_pairwise_df['sku_first'].unique()

# Filter matches_wide_df by Query_SKU being only from that list
query_matches_wide_df = filtered_matches_wide_df[filtered_matches_wide_df['Query_SKU'].isin(query_skus)]
query_pairwise_df = filtered_pairwise_df[filtered_pairwise_df.sell]

query_matches_wide_df

AttributeError: 'DataFrame' object has no attribute 'sell'

In [36]:
# save matches and pairs for filtered data

from pathlib import Path

SAVE_DIR = Path('data/tables_OZ_geo_5500/test_results')
INCLUDE_PAIR_COLS = [
    'sku_first', 'sku_second',
    'name_first', 'name_second',
    'final_price_first', 'final_price_second',
    'balance_fbo_first', 'balance_fbo_second',
    'balance_fbs_first', 'balance_fbs_second',
    'rating_first', 'rating_second',
    'description_first', 'description_second'
]

query_matches_wide_df.to_csv(SAVE_DIR / 'siamese-evaluation_filtered-matches.csv', index=False)
query_pairwise_df[INCLUDE_PAIR_COLS].to_csv(SAVE_DIR / 'siamese-evaluation_filtered-matches-paired.csv', index=False)

# Inspect matches

In [28]:
QUERY_SKU_TO_INSPECT = 491270369

sorted_df = (
    filtered_pairwise_df
    .groupby('sku_first', group_keys=False)
    .apply(lambda group: group.sort_values('siam_l2_dist', ascending=True), include_groups=True)
)

cols_to_inspect = [
    'sku_first',
    'sku_second',
    'siam_l2_dist',
    'prediction',
    'label',
    'final_price_first',
    'final_price_second',
]

# if 'pair_type' in sorted_df.columns:
#     cols_to_inspect.append('pair_type')

sorted_df[sorted_df.sku_first == QUERY_SKU_TO_INSPECT][cols_to_inspect]

/tmp/ipykernel_17977/2010242693.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: group.sort_values('siam_l2_dist', ascending=True), include_groups=True)

,sku_first,sku_second,siam_l2_dist,prediction,label,final_price_first,final_price_second
157,491270369,1621519668,0.923720,1,0,813,584
155,491270369,1640617682,1.023639,0,0,813,583
153,491270369,1650167061,1.175605,0,0,813,650
163,491270369,1486407874,1.435541,0,0,813,762
170,491270369,1152101160,1.436312,0,0,813,597
168,491270369,1289030979,1.654091,0,0,813,601
159,491270369,1607805052,2.052945,0,0,813,751
148,491270369,1756838762,2.199004,0,0,813,624
142,491270369,1598283510,2.415878,0,0,813,579
154,491270369,1650080585,2.524429,0,0,813,1003
156,491270369,1629783179,2.701497,0,0,813,731
185,491270369,147896030,2.758313,0,0,813,900
167,491270369,1333475299,2.866219,0,0,813,745
180,491270369,588876919,3.152691,0,0,813,644
169,491270369,1169061464,3.414193,0,0,813,783
161,491270369,1548100981,3.485752,0,0,813,1037
183,491270369,322886997,3.691212,0,0,813,982
176,491270369,856985388,3.735922,0,0,813,643
175,491270369,857968654,3.849269,0,0,813,640
165,491270369,1345370830,3.990910,0,0,813,845
177,491270369,854395161,4.170780,0,0,813,640
166,491270369,1345349994,4.289900,0,0,813,845
143,491270369,1414696452,4.346856,0,0,813,932
173,491270369,921203881,4.498707,0,0,813,869
158,491270369,1613663117,4.738482,0,0,813,571
179,491270369,590294661,4.864774,0,0,813,601
164,491270369,1422663978,5.136709,0,0,813,571
160,491270369,1567001565,5.284879,0,0,813,929
152,491270369,1703583975,5.358786,0,0,813,974
149,491270369,1729352595,5.581376,0,0,813,1018
162,491270369,1539494284,5.723493,0,0,813,763
184,491270369,147896031,5.737340,0,0,813,723
146,491270369,1758403668,6.007842,0,0,813,769
144,491270369,805285669,6.057978,0,0,813,826
174,491270369,861605997,6.269946,0,0,813,643
181,491270369,564435026,6.445600,0,0,813,758
178,491270369,601320601,6.451594,0,0,813,689
150,491270369,1713036930,6.456962,0,0,813,581
171,491270369,974244048,6.478665,0,0,813,852
141,491270369,178726257,7.217142,0,1,813,851
137,491270369,1857130100,7.283857,0,1,813,1037
138,491270369,1737112763,7.283857,0,1,813,783
139,491270369,1737112217,7.283857,0,1,813,958
140,491270369,219077186,7.283857,0,1,813,862
147,491270369,1758403630,7.283857,0,0,813,721
145,491270369,1758403711,7.283857,0,0,813,907
151,491270369,1713026634,7.283857,0,0,813,958
172,491270369,926003864,7.283857,0,0,813,1019
182,491270369,349931862,8.024902,0,0,813,694